.earning {
    width: 100%;
    height: 100%;
}

.barChart {
    width: 100% !important;
    height: 100% !important;
}

.recharts-surface {
    width: 100% !important;
    height: 100% !important;
}

.rechartsBar {
    fill: blue;
}